version: '3.8'

services:
  app:
    build:
      context: ..              
      dockerfile: src/Dockerfile
    container_name: calculadora-app
    ports:

      - "5000:5000" 
      - "8000:8000"          

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ../prometheus:/etc/prometheus   
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
